
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/css/materialize.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
<div class="nav-wrapper">
<a href="/" class="brand-logo center">Todo Apps</a>

</div>
</nav>
    


<div class="form row container">

    <form class="col s12 addTask" action="/add/" method="post">
        <label for="title">Add Task</label>
        <input type="text" placeholder="wirte here"  name="title">
        <button class="btn waves-effect waves-light pulse" type="submit">Add</button>

    </form>
</div>




<div class="container">
    {% if todo_list %}


            <ul class="collection with-header">
                <li class="collection-header" > <h4>Tasks</h4></li>
            {% for todo in todo_list  %}

        
            <li class="collection-item ">

                  

                    
                    <span>{{todo.title}}</span> 
                    {% if todo.complete == True %}
                    <div class="secondary-content" >Completed</div>
                    {% else %}
                    <div class="red-text secondary-content" >InComplete</div>
                    
                    {% endif %}
                    <a style="margin-left:10px;" class=" " href="/update/{{todo.id}}">Update</a>
                    <a style="margin-left:10px;"  class="red-text " href="/delete/{{todo.id}}">Delete</a>
                    
            </li>
            {% endfor %}
            </ul>


    {% else %}
    <ul class="collection with-header">
                <li class="collection-header" > <h4>No tasks</h4></li>
    </ul>
  
    {% endif %}

    </div>

   
   <script src="/static/js/materialize.js"></script>
   
</body>
</html>